<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>金融炼金术 个人中心 我的订单</title>
    <link href="__PUBLIC__/V1/css/global.css" rel="stylesheet" media="screen" />
    <link href="__PUBLIC__/V1/css/space.css" rel="stylesheet" media="screen" />
</head>
<body>
    <include file='Public/header' />
    <!-- 内容 start -->
    <div class="main_content">
        <div class="wrap clear">
            <include file='Public/centerSide' />

            <!-- 右边 start -->
            <div class="main">
                <div class="mod_detail">
                    <div class="detail_bill">
                        <div class="mod_title mod_title_tab">
                            <a class="recycle" href="##">订单回收站</a>
                            <ul>
                                <li class="tab_item tab_item_selected"><a href="##">所有订单</a></li>
                                <li class="tab_item tab_item_last"><a href="##">待付款 <span class="num">1</span></a></li>
                            </ul>
                        </div>
                        <table class="mod_table">
                            <thead>
                            <tr>
                                <th colspan="5" class="bill_info">
                                    <span class="bill_id">订单编号: 7866239857</span>
                                    <span class="bill_time">订单生成时间：2014－12-29 7:10:12 </span>
                                </th>
                                <th><a href="##">取消订单</a></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="col_photo"><a href="##"><img src="__PUBLIC__/V1/image/product_photo.png" /></a></td>
                                <td class="col_company">电子科技集团</td>
                                <td class="col_name">张三（高级炼金师）</td>
                                <td class="col_price">10金币</td>
                                <td class="col_status">等待付款</td>
                                <td class="col_handle"><a href="##" class="btn btn_red">立即付款</a></td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="mod_table">
                            <thead>
                            <tr>
                                <th colspan="5" class="bill_info">
                                    <span class="bill_id">订单编号: 7866239857</span>
                                    <span class="bill_time">订单生成时间：2014－12-29 7:10:12 </span>
                                </th>
                                <th><a href="##" class="ico_delete">删除订单</a></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="col_photo"><a href="##"><img src="__PUBLIC__/V1/image/product_photo.png" /></a></td>
                                <td class="col_company">电子科技集团</td>
                                <td class="col_name">张三（高级炼金师）</td>
                                <td class="col_price">10金币</td>
                                <td class="col_status">等待付款</td>
                                <td class="col_handle"><a href="##" class="link_deal">立即交易</a></td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="mod_table">
                            <thead>
                            <tr>
                                <th colspan="5" class="bill_info">
                                    <span class="bill_id">订单编号: 7866239857</span>
                                    <span class="bill_time">订单生成时间：2014－12-29 7:10:12 </span>
                                </th>
                                <th><a href="##" class="ico_delete">删除订单</a></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="col_photo"><a href="##"><img src="__PUBLIC__/V1/image/product_photo.png" /></a></td>
                                <td class="col_company">电子科技集团</td>
                                <td class="col_name">张三（高级炼金师）</td>
                                <td class="col_price">10金币</td>
                                <td class="col_status">等待付款</td>
                                <td class="col_handle">
                                    <p><a href="##" class="link_comment">立即点评</a></p>
                                    <p><a href="##" class="link_deal_on">继续交易</a></p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="mod_page">
                            {$_page}
                        </div>
                    </div>
                </div>
            </div>
            <!-- 右边 end -->
        </div>
    </div>
    <!-- 内容 end -->

    <include file='Public/footer' />
</body>
</html>