<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>金融炼金术 个人中心 我投资的主题</title>
    <link href="__PUBLIC__/V1/css/global.css" rel="stylesheet" media="screen" />
    <link href="__PUBLIC__/V1/css/space.css" rel="stylesheet" media="screen" />
</head>
<body>
    <include file='Public/header' />
    <!-- 内容 start -->
    <div class="main_content">
        <div class="wrap clear">
            <include file='Public/centerSide' />

            <!-- 右边 start -->
            <div class="main">
            <div class="mod_detail">
            <div class="detail_invest">
            <div class="mod_title">
                <h3>投资管理</h3>
                <span class="update_date">更新时间：2014.2.28</span>
            </div>
            <table class="mod_table">
            <thead>
            <tr>
                <th class="col_theme">主题策略（股票） </th>
                <th class="col_fund">配置资金</th>
                <th class="col_date">跟投日期</th>
                <th class="col_profit">总收益（/率）</th>
                <th>最新评论</th>
                <th class="col_handle">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <p>体育强国</p>
                    <p class="expert">（专家小李）</p>
                </td>
                <td>20000</td>
                <td>2104-11-02</td>
                <td>
                    <p>1万元</p>
                    <p class="rate">（<strong>/58%</strong>）</p>
                </td>
                <td>
                    <p class="comment">
                        很好很强大！上周刚入 市的菜鸟好很强大！上周刚入 市的菜鸟好很强大！上周刚入 市的菜鸟...
                    </p>
                </td>
                <td>
                    <a href="##" class="btn btn_red">买入</a>
                    <a href="##" class="btn btn_gray_2">卖出</a>
                </td>
            </tr>
            <tr>
                <td>
                    <p>体育强国</p>
                    <p class="expert">（专家小李）</p>
                </td>
                <td>20000</td>
                <td>2104-11-02</td>
                <td>
                    <p>1万元</p>
                    <p class="rate">（<strong>/58%</strong>）</p>
                </td>
                <td>
                    <p class="comment">
                        很好很强大！上周刚入 市的菜鸟...
                    </p>
                </td>
                <td>
                    <a href="##" class="btn btn_red">买入</a>
                    <a href="##" class="btn btn_gray_2">卖出</a>
                </td>
            </tr>
            <tr>
                <td>
                    <p>体育强国</p>
                    <p class="expert">（专家小李）</p>
                </td>
                <td>20000</td>
                <td>2104-11-02</td>
                <td>
                    <p>1万元</p>
                    <p class="rate">（<strong>/58%</strong>）</p>
                </td>
                <td>
                    <p class="comment">
                        很好很强大！上周刚入 市的菜鸟...
                    </p>
                </td>
                <td>
                    <a href="##" class="btn btn_red">买入</a>
                    <a href="##" class="btn btn_gray_2">卖出</a>
                </td>
            </tr>
            <tr>
                <td>
                    <p>体育强国</p>
                    <p class="expert">（专家小李）</p>
                </td>
                <td>20000</td>
                <td>2104-11-02</td>
                <td>
                    <p>1万元</p>
                    <p class="rate">（<strong>/58%</strong>）</p>
                </td>
                <td>
                    <p class="comment">
                        很好很强大！上周刚入 市的菜鸟...
                    </p>
                </td>
                <td>
                    <a href="##" class="btn btn_red">买入</a>
                    <a href="##" class="btn btn_gray_2">卖出</a>
                </td>
            </tr>
            <tr>
                <td>
                    <p>体育强国</p>
                    <p class="expert">（专家小李）</p>
                </td>
                <td>20000</td>
                <td>2104-11-02</td>
                <td>
                    <p>1万元</p>
                    <p class="rate">（<strong>/58%</strong>）</p>
                </td>
                <td>
                    <p class="comment">
                        很好很强大！上周刚入 市的菜鸟...
                    </p>
                </td>
                <td>
                    <a href="##" class="btn btn_red">买入</a>
                    <a href="##" class="btn btn_gray_2">卖出</a>
                </td>
            </tr>
            <tr>
                <td>
                    <p>体育强国</p>
                    <p class="expert">（专家小李）</p>
                </td>
                <td>20000</td>
                <td>2104-11-02</td>
                <td>
                    <p>1万元</p>
                    <p class="rate">（<strong>/58%</strong>）</p>
                </td>
                <td>
                    <p class="comment">
                        很好很强大！上周刚入 市的菜鸟...
                    </p>
                </td>
                <td>
                    <a href="##" class="btn btn_red">买入</a>
                    <a href="##" class="btn btn_gray_2">卖出</a>
                </td>
            </tr>
            <tr>
                <td>
                    <p>体育强国</p>
                    <p class="expert">（专家小李）</p>
                </td>
                <td>20000</td>
                <td>2104-11-02</td>
                <td>
                    <p>1万元</p>
                    <p class="rate">（<strong>/58%</strong>）</p>
                </td>
                <td>
                    <p class="comment">
                        很好很强大！上周刚入 市的菜鸟...
                    </p>
                </td>
                <td>
                    <a href="##" class="btn btn_red">买入</a>
                    <a href="##" class="btn btn_gray_2">卖出</a>
                </td>
            </tr>
            <tr>
                <td>
                    <p>体育强国</p>
                    <p class="expert">（专家小李）</p>
                </td>
                <td>20000</td>
                <td>2104-11-02</td>
                <td>
                    <p>1万元</p>
                    <p class="rate">（<strong>/58%</strong>）</p>
                </td>
                <td>
                    <p class="comment">
                        很好很强大！上周刚入 市的菜鸟...
                    </p>
                </td>
                <td>
                    <a href="##" class="btn btn_red">买入</a>
                    <a href="##" class="btn btn_gray_2">卖出</a>
                </td>
            </tr>
            <tr>
                <td>
                    <p>体育强国</p>
                    <p class="expert">（专家小李）</p>
                </td>
                <td>20000</td>
                <td>2104-11-02</td>
                <td>
                    <p>1万元</p>
                    <p class="rate">（<strong>/58%</strong>）</p>
                </td>
                <td>
                    <p class="comment">
                        很好很强大！上周刚入 市的菜鸟...
                    </p>
                </td>
                <td>
                    <a href="##" class="btn btn_red">买入</a>
                    <a href="##" class="btn btn_gray_2">卖出</a>
                </td>
            </tr>
            <tr>
                <td>
                    <p>体育强国</p>
                    <p class="expert">（专家小李）</p>
                </td>
                <td>20000</td>
                <td>2104-11-02</td>
                <td>
                    <p>1万元</p>
                    <p class="rate">（<strong>/58%</strong>）</p>
                </td>
                <td>
                    <p class="comment">
                        很好很强大！上周刚入 市的菜鸟...
                    </p>
                </td>
                <td>
                    <a href="##" class="btn btn_red">买入</a>
                    <a href="##" class="btn btn_gray_2">卖出</a>
                </td>
            </tr>
            <tr>
                <td>
                    <p>体育强国</p>
                    <p class="expert">（专家小李）</p>
                </td>
                <td>20000</td>
                <td>2104-11-02</td>
                <td>
                    <p>1万元</p>
                    <p class="rate">（<strong>/58%</strong>）</p>
                </td>
                <td>
                    <p class="comment">
                        很好很强大！上周刚入 市的菜鸟...
                    </p>
                </td>
                <td>
                    <a href="##" class="btn btn_red">买入</a>
                    <a href="##" class="btn btn_gray_2">卖出</a>
                </td>
            </tr>
            </tbody>
            </table>
            <div class="mod_page">
                {$_page}
            </div>
            </div>
            </div>
            </div>
            <!-- 右边 end -->
        </div>
    </div>
    <!-- 内容 end -->

    <include file='Public/footer' />
</body>
</html>