<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>金融炼金术 个人中心 账户设置</title>
    <link href="__PUBLIC__/V1/css/global.css" rel="stylesheet" media="screen" />
    <link href="__PUBLIC__/V1/css/space.css" rel="stylesheet" media="screen" />
</head>
<body>
    <include file='Public/header' />
    <!-- 内容 start -->
    <div class="main_content">
        <div class="wrap clear">
            <include file='Public/centerSide' />

            <!-- 右边 start -->
            <div class="main">
                <div class="mod_detail">
                    <div class="detail_set">
                        <div class="mod_title">
                            <h3>个人信息及账户安全</h3>
                        </div>
                        <table class="set_info">
                            <tr>
                                <th>用户名：</th>
                                <td>小米 <a href="##" class="link">修改</a></td>
                            </tr>
                            <tr>
                                <th>绑定手机：</th>
                                <td><strong>135*****853</strong> <a href="##" class="link">修改</a></td>
                            </tr>
                            <tr>
                                <th>登录密码：</th>
                                <td>
                                    <div class="secure_status secure_status_low">
                                        <span class="text">低</span>
                                        <span class="chart"><i></i></span>
                                    </div>
                                    <div class="secure_status secure_status_middle">
                                        <span class="text">中</span>
                                        <span class="chart"><i></i></span>
                                    </div>
                                    <div class="secure_status secure_status_high">
                                        <span class="text">高</span>
                                        <span class="chart"><i></i></span>
                                    </div>
                                    <a href="##" class="link">修改</a>
                                </td>
                            </tr>
                            <tr>
                                <th>绑定邮箱：</th>
                                <td>建议您绑定邮箱以方便找回密码 <a href="##" class="link">绑定</a></td>
                            </tr>
                            <tr>
                                <th>投资设置：</th>
                                <td>进行投资需要提升您的账户的安全等级，请您设置支付密码及安全问题，并进行实名认证 <a href="##" class="link">设置</a></td>
                            </tr>
                        </table>
                        <div class="set_photo">
                            <img src="__PUBLIC__/V1/image/photo_default.png"/>
                            <a class="link" href="##">更改头像</a>
                        </div>
                    </div>
                    <div class="detail_set detail_set_last">
                        <div class="mod_title">
                            <h3>个人信息及账户安全</h3>
                        </div>
                        <table class="set_info">
                            <tr>
                                <th>我的银行卡：</th>
                                <td>绑定银行卡开启轻松炼金生活 <a href="##" class="link">绑定</a></td>
                            </tr>
                            <tr>
                                <th><span class="ico_dollar">我的金币：</span></th>
                                <td><strong>20</strong></td>
                            </tr>
                            <tr>
                                <th>充值数量：</th>
                                <td>
                                    <input type="text" placeholder="1金币＝1元"/>
                                    <span class="amount">应付金额：0</span>
                                </td>
                            </tr>
                        </table>
                        <div class="op_area">
                            <a class="btn btn_red" href="##">充值</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 右边 end -->
        </div>
    </div>
    <!-- 内容 end -->

    <include file='Public/footer' />
</body>
</html>